# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Playwright session data (VERY IMPORTANT)
facebook_profile/
fb_session.json

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/